<form accept-charset="utf-8">
	<div data-fields="name"></div>
	<div data-fields="author"></div>

    <h3>{{$ "FTP_config"}}</h3>
    <div data-fields="ftp_host"></div>
    <div data-fields="ftp_user"></div>
    <div data-fields="ftp_password"></div>

	<input type="submit" name="submit" label="Enviar">

</form>


