<div id="projects" class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i>{{$ "projects"}}</h3>
    </div>
    <div class="widget-content">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>{{$ "name"}}</th>
                    <th>{{$ "author"}}</th>
                    <th>{{$ "actions"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                    <tr>
                        <td><span class="lead">{{name}}</span></td>
                        <td><span class="lead">{{author}}</span></td>
                        <td>
                            <button data-id="{{_id}}" class="btn btn-primary edit">{{$ "edit"}}</button>
                            <button data-id="{{_id}}" class="btn btn-danger delete">{{$ "delete"}}</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>


