#folderList{
  font-size: 13px;
}

li{
  list-style: none;
}

li :hover{
  color: red;
}

i .fi-check :hover{
  color: green;
}

li span{
  margin-right: 20px;
}

.fi-folder{
  margin-right: 10px;
}

.selected{
  color: green;
}
