<div class="row">
    <div class="col-md-4">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i><a href="#">Home</a>
            </li>
            {{!-- <li><a href="#">Pages</a>
            </li>
            <li class="active">Blank Page</li> --}}
        </ul>
    </div>
    <div class="col-md-8">

    </div>
</div>

{{> ./main_header }}
